#myskills .section {
  padding: 0;
}

#myskills .section .skills-list {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}

#myskills .section #skills {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
}

#myskills .section #skills h2 {
  margin-bottom: 0.6rem;
}

#myskills .section .skills-list {
  margin: 2rem;
}

#myskills .section .skills-list #frameworks {
  display: flex;
  justify-content: space-around;
}

#myskills .section .skills-list li {
  display: flex;
  flex-direction: column;
}

#myskills .section .skills-list i {
  display: block;
  margin: 0.5rem auto;
}

#myskills .resume {
  display: grid;
  justify-content: center;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  #myskills .section #skills {
    flex-direction: column;
    justify-content: center;
  }

  #myskills .section #skills ul {
    margin-top: 1rem;
  }
}