#main-footer .links {
  display: flex;
  justify-content: center;
}

#main-footer .links li {
  margin: 0 2rem;
  list-style: none;
}

@media (max-width: 768px) {
  #footer {
    display: none;
  }

  #main-footer .links {
    font-size: 0.7rem;
  }

  #main-footer .links li {
    margin: 0 1.4rem;
  }
}
