/* About */
#landing {
  height: 100vh;
  color: #fff;
}

#landing .landing-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#landing .landing-content .links {
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing .landing-content .links li {
  margin: 0 1rem;
  list-style: none;
}

#landing .landing-content .arrow {
  margin-bottom: 4rem;
  margin-top: -4rem;
  cursor: pointer;
  transition: all 1s ease;
}

#landing .landing-content .arrow i {
  animation: animateArrow 1s ease infinite;
  display: block;
}

#landing .landing-content .arrow .read {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  #landing .landing-content .arrow {
    margin-bottom: 3rem;
    margin-top: -3rem;
    cursor: pointer;
    transition: all 1s ease;
  }
  #landing .landing-content .arrow .read {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
}

@keyframes animateArrow {
  50% {
    transform: scale(1.3);
  }
}
