#projects .project-grid {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

@media (max-width: 768px) {
  #projects .project-grid {
    grid-template-columns: 1fr;
    margin: 1rem;
  }
}
