#about .section {
  margin-bottom: 3rem;
}

#about .section .me {
  font-size: 1.3rem;
  padding: 0 1.5rem;
  margin: 0.8rem 0;
  line-height: 1.4;
  text-align: justify;
}

#about .section .skills-list {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}

#about .section .skills-list #frameworks {
  margin-bottom: 3rem;
}

#about .section .skills-list #frameworks,
#about .section .skills-list #technologies {
  display: flex;
  justify-content: space-evenly;
}

#about .section .skills-list li {
  display: flex;
  flex-direction: column;
}

#about .section .skills-list i {
  display: block;
  margin: 0.5rem auto;
}
